body {
  margin: 0;
  text-align: center;

}

.top-container {
  background-color:#f8b400;
  padding-top: 100px;
  position: relative;
  height: 120vh;
  width: 100%;
  overflow: hidden;
}
.top-container p {
  font-size: 30px;

}
h1 {
  margin-top: 0;
  color: #faf5e4;
  font-family: 'Pangolin', cursive;
  font-size: 90px;
}

h2 {
  font-family: 'Pangolin', cursive;
  margin-top: 0;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

p {
  color: #faf5e4;
  font-family: 'New Tegomin', serif;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 21px;
  padding-top: 21px;
}

a {
  color: #2c786c;
}

a:visited {
  color: #004445;
}

.middle-container {
  background-color: #2c786c;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 100px;
}

.bottom-container {
  background-color:#f8b400;
  padding-top: 50px;

}

.top-cloud {
  position: relative;
  left: 20%;


}

.bottom-cloud {
  position: absolute;
  left: 30px;
  bottom: 500px;
}

.sun {
  position: relative;
  left: 30%;
  bottom: 29%;
  max-height: 200px;
}
.headshot {
  width:auto;
  height:200px;
}
.profile {
  line-height: 2;
}
.python {
  width: 20%;
  height:auto;
  position: relative;
  top: 0;
}

.html {
  width: 20%;
  height: auto;
}
.css {
  width: 20%;
  height: auto;
}
.skill-row {
    background-color: #faf5e4;
    padding-top: 72px;
}
.skills {
  background-color:#f8b400;
  color:#004445;
  display: inline;
  padding-bottom: -50px;
}
.skills p {
  color: #004445
}
.goatscene {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  bottom: 0;
  left: 10%;
  padding-top: 100px;
  max-width: 100%;
  min-width: 80%;

}

.skillstack {
  width: 100%;
}
.contact-me {
  padding-top: 84px;
  color: #faf5e4;
  background-color:#f8b400;
}
.middle2 {
  background-color: #f8b400;
  padding-top: 21px;
  margin-top: 0;
  color: #004445;
  padding-bottom: 72px;
}
.yell {
  width: 10%;
  height: auto;
}
